{% extends 'base.html' %}

{% load static %}

{% block title %} Home | Super Mario Bros {% endblock %}

{% block style %}

{% endblock %}

{% block main %}

<style>
        .container-img {
            max-height:600px;
            max-width: 900px;
            width: 100%;
            height: auto;
            padding-top: 10px;
        }
        .container-img2 {
            max-width:210px;
            max-height:210px;
            width: 100%;
            height: auto;
        }
        .centro {
            text-align: center;
        }
        .tamanho {
            width: 980px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>


    <div class="row tamanho">
    {%for jogo in jogo_list %}
        {% if forloop.counter == 1 %}
            <div class="card mb-4 centro">
                <a href="{% url 'saiba_mais' jogo.id %}">
                    <img class="card-img-top container-img" src="{{ jogo.imagem.url }}">
                </a>
                <div class="card-body">
                    <div class="small text-muted">{{ jogo.ano }}</div>
                    <h2 class="card-title">{{ jogo }}</h2>

                    <p class="card-text">{{ jogo.descricao }}</p>
                </div>
            </div>
        {%else%}

        <div class="col-lg-3">
            <!-- Blog post-->
            <div class="card mb-4 centro">
                <a href="{% url 'saiba_mais' jogo.id %}">
                    <img class="card-img-top container-img2" src="{{ jogo.imagem.url }}" alt="...">
                </a>

                <div class="card-body">
                    <a href=""><h2 class="card-title h4">{{ jogo }}</h2></a>
                    <div class="small text-muted">{{ jogo.ano }}</div>
                    <p class="card-text">{{ jogo.descricao }}</p>
                    <p><strong>Estilo:</strong> {{ jogo.estilo }}</p>
                </div>
            </div>
        </div>

        {%endif%}
    {%endfor%}

    </div>
{% endblock %}